/*Adrian Koornneef, Amanda Sawyer, Hillary Elliott*/
/*April 2023*/
/*w3schools was used as a starting point for all basic functionality of the website.*/

body{
    background-image: url("campus.jpg");
        background-size: cover;
      }

.h1_header {
    font-size: 48px; 
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: 'Avenir Next LT Pro', sans-serif;
    text-shadow: 2px 2px black;
    flex: 1; /* From here below in the element, problem solved with ChatGPT to ensure header titles scale with header size */
    margin: 0; 
    padding: 0; 
    width: 100%; 
    max-width: 100%; 
}


.h2_header {
    font-size: 32px; 
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: 'Avenir Next LT Pro', sans-serif;
    text-shadow: 2px 2px black;
    flex: 1; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    max-width: 100%; 
}

h1 {
    font-size: 48px; 
    color: rgb(147, 32, 32);
    text-align: center;
    font-weight: 900;
    font-family: 'Avenir Next LT Pro', sans-serif;
    text-shadow: 2px 2px black;
}


h2 {
    font-size: 32px; 
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: 'Avenir Next LT Pro', sans-serif;
    text-shadow: 2px 2px black;
}


.p1 {
    color: white;
    text-align: justify;
    font-family: 'Avenir Next LT Pro', sans-serif;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px; /* Adjust the 15px value to your desired spacing */
    padding-top: 20px; /* Add a padding top equivalent to the height of the header to create a gap between the header and the div */
}


div.box {
    width: 80%;
    max-width: 900px;
    background-color: rgba(51, 48, 48, .95);
    border-radius: 15px;
    border: 1.5mm ridge rgba(29, 28, 27, 0.6);
    padding: 20px;
}

div.titles {
	margin: 5px; /*General spacing formatting*/
	margin-top: 100px;
}

div.text {
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
}

div.profile_photos {
    display: flex;
    justify-content: center;
    align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

    /***********************NavBar**********************/
/* https://www.w3schools.com/howto/howto_js_tabs.asp */


 #navbar {
	background-color: rgb(147, 32, 32); 
	overflow: hidden;  
	border: 1px solid black; 
	position: fixed;
	width: 100%;
	top: -50px;
	display: flex;
    justify-content: center; 
    align-items: center;
	transition: top 0.3s;
    z-index: 2;
}
/*styling the links within the nav bar*/
#navbar a{
	float: left; 
	color: white; 
	text-align: center; 
	padding: 16px; 
	text-decoration: none;  
	font-weight: bold; 
	font-size: 17px; 
    font-family: 'Avenir Next LT Pro', sans-serif;
	text-shadow: 2px 2px black
} 
/* Change the color of links on hover */
 #navbar a:hover {
  background-color: #7FA650; /*hover colour matches accent colour formatting of page*/
  color: white; 
  font-family: 'Syne Mono', monospace; /*changes font style hovering */
 } 


 /********************** HEADER **********************/

 /* Option 1: This header floats centered and not in the corners */
header.floating_header {
	background-color: #777; /*For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, rgba(94, 94, 94, 0),rgb(29, 29, 29, 1)); /*w3schools - css gradients */
	padding: 15px; /*space formatting */ 
	border-radius: 5px; /*border shaping of header*/ 
	border: 1px solid black; /*basic formatting*/ 
	text-align: center; /*center-align the header text*/ 
	margin: 20px; 
	margin-top: 30px;
	border: 1.5mm ridge rgba(20, 20, 19, 0.9) 
  }

   /* Option 1: This header floats centered and not in the corners */
header.fix_to_top_header {
	background-color: #777; /*For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, rgba(94, 94, 94, 0),rgb(29, 29, 29, 1)); /*w3schools - css gradients */
	padding: 15px; /*space formatting */ 
	border-radius: 5px; /*border shaping of header*/ 
	border: 1px solid black; /*basic formatting*/ 
	text-align: center; /*center-align the header text*/ 
	border: 1.5mm ridge rgba(20, 20, 19, 0.9);
    top: 0;
    right: 0;
    left: 0;
    height: 20vh;
    margin-bottom: 10px;
    min-height: 100px;
    display: flex; /* ChatGPT sudgestion to fix header scaling issue */
    flex-direction: column; /* ChatGPT sudgestion to fix header scaling issue */
    align-items: center; /* ChatGPT sudgestion to fix header scaling issue */
  }



  /********************** Photos **********************/

  img.profile_photos {
	border-radius: 100px; 
	border: 2px solid black; 
	max-width: 100%;
	margin-top: 25px;
}